@media screen and (max-width: 480px) /* règles CSS pour les mobiles ici */
{
 
/* ------- RESET ------- */

/*html,body
{
    box-sizing:border-box;
}*/

*{box-sizing: border-box;}

html, body, ul, li, h1, h2, h3, h4, p, img{margin: 0;padding: 0;}

body
{
    font-size: 16px; 
    font-family: 'Raleway',sans-serif;
    /*max-width:1340px;*/
    margin:0 auto;    
}

h1, h2, h3, p{font-size: 1rem;}

img{display: block;}

a{color: black;text-decoration: none;}
 
/*ul{list-style-type: none;}*/


/* -------- Fin RESET ---*/    

/* HEADER -------------------------------------*/

header
{
    margin-top:0px; 
    margin-bottom:30px;
    padding-top:0px;
    flex-direction:row;
    /*background-color: aqua;
    border:solid grey;*/ 
    max-width: 375px;     
    margin-left:0;
    margin-right:auto;
    height:138px;
    z-index:10;
}

.flex_box
{
    display:flex;
    justify-content:space-between; 
}

.div_logo
{
    /*border:solid lightgreen;*/
    /*max-width:100px;*/
    /* new RDX 210810 deb ===== */
    /* height:100%;*/
    /* flex-basis:45%;*/
    width:100px;
    height:98px;    
    /*new RDX 210810 fin =======*/
    padding-top: 10px;    
    /*font-size:29px ;*/
    position:absolute;
}

#logo_reservia
{
    /* new RDX 210810 deb ===== */
    /*width:20%;*/ 
    width:100%; 
    height:100%;
    /*new RDX 210810 fin =======*/
    /*border:solid green;*/
    margin:0;
    font-size: 15px;
}

.div_links
{
    /*border:solid #0065FC;*/
    width:375px;
    height:100%;
    padding-top: 20px;
    display:flex;
    flex-wrap:wrap;
    /*border: solid 5px red;*/
    opacity: 1;
    margin-left:2px;        
}

nav
{
    /*border:solid red;*/
    flex-basis:100%;
    height:100%;
    flex-wrap:wrap; 
    display:flex;
    opacity: 1;
}

ul
{
    /*border:solid yellow;*/ 
    width:375px;
    height:30%;
    list-style: none;  
    margin:0px 0px auto auto;    
    display:flex;  
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:flex-end;
    opacity: 1;
}

li
{
    /*border:solid pink;*/
    font-size: 19px;
    /*font-weight:bold;*/
    width:45%;   
    height:100%;
    text-align:center;
    padding-top: 0px;   
    opacity: 1;
}

#li_ini
{
    border-top:hidden;
    border-bottom:3px solid #0065FC;
    order:2;
    /*background-color:orange;*/
    z-index:2;
    opacity: 1;
}

    #li_act
{
    order:3;
    /*background-color:aquamarine;*/
    z-index:2;opacity: 1;
    border-bottom:3px solid #F2F2F2;
}
    
#li_ins
{
    order:1;
    /*background-color:deeppink;*/
    margin-left:240px;
    margin-top:40px;
    /*border:solid 2px purple;*/
    z-index:5;
    opacity: 1;
    border-bottom:3px solid transparent;
}
    
#li_ins:hover
{
    border-top:hidden;
    border-bottom: 3px solid #0065FC;
    color:#0065FC;
}
    
#li_act:hover
{
    border-top:hidden;
    border-bottom: 3px solid #0065FC;
    color:#0065FC;
}

#li_ini:hover
{
    border-top:hidden;
    border-bottom:3px solid #0065FC;
    color:#0065FC;
 }

    
.class_bold_and_blue
{
    color:#0065FC;
    font-weight:bold;
}


 /* SECTION SEARCH ------------------------------*/

h2
{
    font-size:1rem;
    margin-right:5px;
}

#search
{
    margin:2px 0 40px 0px; 
    /*border:solid orange;
    background-color: coral;*/ 
}
#search p
{
    font-size:19px;
}

h1
{
    /*font-size:1.25rem;*/
    font-size:26px;
    font-weight: 700 ;
    margin-bottom: 9px;;
}

#div_search
{
    display: flex; 
    flex-direction: column;
    height:50px;
    width:20%;
    margin:50px 0 50px 0px;
    font-size:1.5rem;
    padding: 0px;
    flex-wrap: wrap;
    
    /*border:solid red;*/
}

#div_search input
{
    font-weight:bold;
    height:100%;
}

#posi_town
{
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;  
    /*width:55px;*/  /* new RDX 210810 ====*/
    width:50px;      /* new RDX 210810 ====*/
    font-size:20px;
    text-align:center;
    align-content: center;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;    
    /*padding-top: 20px;*/   
}

#town
{
    text-align:start;
    border-right:hidden;
    border-left:hidden;
    height:100%;
    font-size:20px;
    border-top-color: #F2F2F2;
    border-bottom-color: #F2F2F2;
    width:235px;
    padding-left: 15px;
}

#btn
{
     display:none;
}

#btn_search
{
    background-color: #0065FC;
    color:white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height:100%;
    /*font-size:0.75rem;*/
    font-size:18px;
    font-weight: bold;
    font-family: 'Raleway',sans-serif;
    width:55px;   
    display:block;
}

.class_uppercase
{
    text-transform: uppercase; 
}

#div_filter
{
    /*background-color: rgb(43, 255, 0);
    border:solid purple;*/ 
    margin-top:50px;
    margin-bottom:50px;
    margin-left:0px;
    padding-left:0px;
    height:275px;width:425px;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
    flex-direction:column;
    flex-wrap:wrap;
}

#div_filter h2
{
    /*border: solid yellow;*/
    width:100%;
    margin-bottom:40px;
}    
    
#div_filter p
{
    padding-left:20px;;
    padding-right:20px;
    font-weight:bold;
}

#div_child
{
order:4;
margin-top:60px;
}

#div_child p
{
    font-size:12px;   
}

#div_money
{
    order:1;
}

#div_money p
{
    font-size:12px;
}

#div_heart
{
    order:2;
}

#div_heart p
{
        font-size:12px;   
}

#div_dog
{
    order:3;
    /*border:solid purple;*/
    /*width:100%;*/
}
    
#div_dog p
{
    font-size:12px;   
}    
    
.circle_border
{
    border-radius: 50px;
    background-color: #DEEBFF;
    /*font-size:1rem;*/
    font-size: 23px;
    /*border-color: #0065FC;*/
    border-color:#F2F2F2;
    padding-left:0;
    color:#0065FC;
    height:48px;
    width:48px;
    text-align:center;
    padding-top: 10px;
}

.hover_blu:hover
{
    /*color: red;*/
    color:#0065FC;
    /*font-size: 1rem;*/
    font-weight:bold;
    cursor:pointer;
    border-color: #0065FC;
}

.flex_box_special
{
    display: flex; 
    margin:0px 0px 15px 0px;
    padding-left:0px; 
    justify-content:center;
    flex-direction: row;    
    font-size: 12px;
    background-color: white;
    border: solid #F2F2F2;
    border-radius: 25px;
    height: 51px;
    /*background-color: orange;*/
    align-items: center;
    max-width:220px;
    text-align: center;    
}

#div_info
{
    display:flex;
    justify-content:flex-start;
    /*color: red;
    background-color: yellow;*/
    max-width:342px;
    align-content:center;    
}

#div_info p
{
    margin-left:15px;
    margin-top:2px;
    font-size:15px;
}

.bckcol_blue
{
    color:#0065FC;
    /*font-size:1rem;*/
    font-size:14px;
}

.circle_wht_border
{
border-radius: 50px;
background-color: white;
/*font-size:1rem;*/font-size: 11px;
border:solid #DEEBFF;
padding-left:0;
color:#0065FC;
height:25px;
width:25px;
text-align:center;
padding-top:3px;
}

main
{
    /*background-color: rgb(252, 183, 221);
    border:solid black;*/  
    max-width: 1340px;     
    margin-left:auto;
    margin-right:auto;
}

/*#sec_search
{
    background-color: chocolate;
}*/


/* SECTION marseille ----------------------------------------------*/

#section_whole_marseille
{
    /*background-color:cyan;*/
    padding-top:0px;
    display:flex;
    flex-direction:column;
}



#article_accommodation h2
{
    width:100%;
    height:35px;
    margin-left:15px;
    font-size:22px;
    font-weight: 600 ;
}
    
 

.flex_box_article
{
    display: flex; 
    flex-wrap:wrap;
    justify-content: space-between;
    font-size:1rem;
    /*background-color: lightgreen;*/
    /*border-radius: 25px;*//*new RDX 210810 ====*/
    border-radius: 0px;/*new RDX 210810 ====*/
        
}

#article_accommodation
{
    
     /*background-color: yellow;*/
    /*background-color: #F2F2F2;*//* new RDX 210810  ====*/
    /*border:solid black;  */
    /*height: 619px;*/
    /*max-width:882px;/* new RDX 210810  ====*/
    max-width:375px;/* new RDX 210810  ====*/
    /*width: 65%; *//* new RDX 210810  ====*/
    width:100%;/* new RDX 210810  ====*/
    /* new RDX 210810  ====*/
    /*margin-bottom: 30px;
    margin-left:0px;*/
    /*padding-bottom:155px;*/
    /*padding:40px 35px 70px 30px;*/ /* new RDX 210810  ====*/
    padding:40px 35px 70px 25px; /* new RDX 210810  ====*/
    margin-bottom:0px;    
    order:2;/* new RDX 210810  ====*/
    background-color: white;/* new RDX 210810  ====*/
     display: flex; flex-direction: row;
     
    
}

.class_accommodation_marseille
{
    background-color: white;
    border:solid;
    border-color: white;
    border-radius: 25px;
    /*width:31%;*//* new RDX 210810  ====*/
    width:100%;/* new RDX 210810  ====*/
    /*height:36%;*//* new RDX 210810  ====*/
    height:195px;/* new RDX 210810  ====*/
    /*padding-bottom:25px;
    padding-top:25px;*/
    margin-top:0px;
    /*margin-bottom:auto;*/
    /*margin-left:auto;*//*new RDX 210810 ===*/
    margin-left:0px;/*new RDX 210810 ===*/
    margin-right:auto;
    margin-bottom:30px;
    font-size: 16px;
    /*background-color:orange;*/
     /*test
     box-sizing: border-box;
     width: 24%;
     border: solid #5B6DCD 10px;
     padding: 5px;
     test*/
     box-shadow: 6px 6px 4px  #F2F2F2;
}  

.class_accommodation_marseille p
{
    padding-left:15px;
}

.class_accommodation_marseille:hover
{
    /*color:  white;*/
    color:#0065FC;    
    border:solid;
    border-color: #0065FC; 
    /*background-color:#0065FC;*/
    /*border-color: #DEEBFF; 
    background-color:#DEEBFF;*/
}

.div_top
{
    padding-top:0px;
    /*border:solid darkgray;   */
}

.bckcol_gray
{
    color:#F2F2F2;
    /*font-size:1rem;*/
    font-size:14px;
}

.class_top
{
    width:100%;
    height:60%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /*background-color: white;*/
    cursor: pointer;
}

.class_bottom
{
    width:100%;
    height:60%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /*background-color: white;*/
    cursor: pointer;
}

.class_bold
{
    font-weight:bold;
}

#article_accommodation h3
{
    /*background-color: rgb(122, 113, 204);
    border: solid rgb(194, 178, 38);*/   
    /*width:75%;*/
    height:10px;
    margin-left:15px;
    margin-top:5px;
    padding-top:15px;
    text-align:left;
    font-size:20px;
    font-weight: 600 ;
}


#article_accommodation h3:hover
{
    font-size:20px;
    font-weight: 600 ;
    color:#0065FC;
    /*color:#DEEBFF;*/
    font-weight: bold;
}


/* ASIDE --------------------------------------------------*/

#most_popular
{
    /*background-color: beige;*/
    background-color: #F2F2F2;
    /*border: solid grey;*/
    /*max-width:419px;*/
    /*width:419px;*//* new RDX 210810  ====*/
    /*border-radius: 25px;*//* new RDX 210810 ===*/
    border-radius:0px;/* new RDX 210810 ===*/
    margin-right:0px;
    /*margin-left:50px;*//* new RDX 210810  ====*/
    margin-left:0px;/* new RDX 210810  ====*/
    /*padding-left:20px;*/
    padding-top:25px;
    padding-bottom:50px;
    display:flex;
    flex-direction: column;
    /*flex-wrap: nowrap;*/
    height:624px;  
    order:1;
    width:375px;
}

#most_popular_header
{
/*background-color: chartreuse;
border:solid black;*/
    display:flex;
    justify-content:flex-start;
    align-items:baseline;
    
   width:335px;
   margin-left:30px;
   margin-top:5px;  
    
}

#most_popular_header h2
{
    font-size:22px;
    font-weight: 600 ;
    /*background-color:yellow;*/
    flex:1;
}

#most_popular_header i
{
    font-size:22px;
    padding-right:20px;
    /*background-color:pink;*/
}

.aside_div_flex
{
    background-color: white;
    border-radius: 25px;
    /*width:419px;*/
    width:85%;
    padding-bottom:0px;
    padding-top:0px;
    margin-left: auto;
    margin-right: auto;
    /*height:100%;*/   
    border:solid;
    border-color: white; 
    display: flex;
    flex-direction: row;
    margin-top:18px;
    height:145px;
    justify-content: flex-start;
    /*border:solid red;*/
}  

.div_img
{
    width:125px;
    /*border:solid pink;*/
}

.div_txt
{
    width:209px;
    /*background-color: darkseagreen;*/
    /*border: solid blue;*/
    font-size:10px;
}

.aside_div_flex:hover
{
    /*color:white;*/
    color:  #0065FC;
    /*font-weight:bold;*/
    border:solid #0065FC; 
    /*background-color:#0065FC;*/
    /*background-color:#DEEBFF;*/
}

.aside_div_flex p
{
    padding-left:15px;
    /*margin-left:5px;*/
    /*background-color:cyan;*/
    font-size:14px;    
}

#aside_div_h2
{
    /*background-color: rgb(122, 113, 204);
    border: solid rgb(194, 178, 38);*/    
    width:300px;
    margin-left:30px;
    margin-top:5px;
}

#aside_div_h2 h2
{
    font-size:22px;
    font-weight: 600 ;
}

.aside_class_img
{
    width:100%;
    height:100%;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    cursor: pointer;
    /*background:pink;*/
}

.aside_txt
{
    width:100%;
    height:100%;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    /*padding-left:2px;*/
    padding-top:15px;
    /*border-bottom-right-radius: 25px;*/
    /*background-color: white;*/
    cursor: pointer;
    /*background-color:lightgreen;*/
}


/* ARTICLE activités art_act ------------------------------*/

#article_activities
{
    /*background-color: pink;*/
    /*border:solid darkgray;*/   
    /*border-radius: 25px;*/  /*new RDX 210810 ===*/  
    border-radius: 0px;  /*new RDX 210810 ===*/  
    padding:25px 0px 0px 20px; 
    /*margin-bottom:50px;*//*new RDX 210810 ===*/
    margin-bottom: 0px;/*new RDX 210810 ===*/
    margin-top:1477px;/*new RDX 210810 ===*/
    /*max-height:495px;
    height:100%;*/
    /*height:530px;*//*new RDX 210810 ===*/
    height:1288px;/*new RDX 210810 ====*/
    width:375px;/* new RDX 210810 ===*/
}

#article_activities h2
{
   font-size:22px;
   font-weight: 600 ; 
}

#section_activities
{
    /*background-color: orangered;
    border:solid black;*/   
    border-radius: 25px;
    margin:5px 0px 0px 0px;
    height:100%;
    display:flex;
    justify-content: space-between;
    /*align-items:space-between;*/
    font-weight:bold;
    flex-direction: column;
}

.div_activities
{
    background-color: white;
    /*border: solid;*/
    /*border-color:pink;*/
    border-radius: 25px;
    /*width:22.75%;*//*new RDX 210810 ===*/
    width:335px;/*new RDX 210810 ===*/
    /*height:100%;*//*new RDX 210810 ====*/
    height:195px;/*new RDX 210810 ===*/
    /*padding-bottom:25px;
    padding-top:25px;*/
    margin-top:0px;
    /*margin-bottom:auto;*/
    /*margin-left:auto;
    margin-right:auto;*/
    /*box-shadow: 30px 30px 55px #F2F2F2;*/
    box-shadow: 6px 6px 4px  #F2F2F2;
     /*test
     box-sizing: border-box;
     width: 24%;
     border: solid #5B6DCD 10px;
     padding: 5px;
     test*/
}  

.div_activities:hover
{
    color:  #0065FC;
    border:solid;
    border-color: #0065FC; 
    /*border-color:#DEEBFF;*/
    background-color:white;
    /*background-color:#DEEBFF;*/
}

.flex_box_col
{
    /*background-color: rgb(68, 189, 52);*/
    display: flex;
    flex-direction: column;
    /*flex-wrap: nowrap;*/
    align-items:flex-start;
    align-content:space-between;/*new RDX 210810 ===*/
    /*justify-content: space-between;*/   
    /*width:22.75%;*/  /*new RDX 210810 ===*/
    width:100%;/*new RDX 210810 ===*/
    height:100%;/*new RDX 210810 ===*/

}

.div_activities_column
{
    background-color: white;
    /*border:solid green;*/
    /*border-color: white;*/
    border-radius: 25px;
    /*width:100%;*//*new RDX 210810 ===*/ 
    max-width:335px;/*new RDX 210810 ====*/
    /*height:50%;*/ /*new RDX 210810 ===*/
    max-height:195px;/*new RDX 210810 ====*/
    /*padding-bottom:25px;
    padding-top:25px;*/
    margin-top:0px;
    /*margin-bottom:auto;*/
    /*margin-left:auto;
    margin-right:auto;*/
    box-shadow: 6px 6px 4px  #F2F2F2;
     /*test
     box-sizing: border-box;
     width: 24%;
     border: solid #5B6DCD 10px;
     padding: 5px;
     test*/
     margin-bottom:0px;/*new RDX 210810 */ 
}  

.div_activities_column:hover
{
    color:  #0065FC;
    border:solid;
    border-color: #0065FC; 
    background-color:white;
    /*border-color: #DEEBFF; 
    background-color:#DEEBFF;*/
}

/*.big_pic
{*/
    /*height:88.2%;*//*new RDX 210810 ====*/
/*}*/

.small_txt
{
    padding-top:24px;
    padding-left:15px;
    /*height:10%;*//*new RDX 210810 ====*/
}

#div_pomeg
{
    margin-top:24px;
    /*height:53%;*//*new RDX 210810 ====*/
}

/*.pic_pomeg
{*/
    /*height:76.5%;*//*new RDX 210810 ====*/
/*}*/

#div_frioul
{
    margin-top:24px;
    /*height:37%;*//*new RDX 210810 ====*/
}

/*.pic_frioul
{*/
    /*height:66%;*//*new RDX 210810 ====*/
/*}*/

#div_nd_garde
{    
    margin-top:24px;
    /*height:44%;*//*new RDX 210810 ====*/
}

/*.nd_garde
{*/
    /*height:71.75%;*//*new RDX 210810 ====*/
/*}*/

#div_p_longchamp
{
    margin-top:24px;
    /*height:47%;*//*new RDX 210810 ====*/
    /*border:solid red;*/
}

/*.p_longchamp
{*/
    /*height:74.25%;*//*new RDX 210810 ====*/
/*}*/

    
.pic_fit
{
    object-fit: cover;   
}

/* FOOTER ------------------------------------------------------*/

    footer
{
    display:flex;
    /*background-color: #00cafc;*/
    background-color: #F2F2F2;
    /*border:solid black;*/    
    /*height:259px;*/
    /*max-height:575px;*/ max-height:620px;
    /*margin: 80px auto 0px auto;*/
    margin: 90px auto 0px 0px;/* new RDX 210810  ===*/
    /*max-width: 1440px;*//*new RDX 210810 ====*/
    max-width:375px;
    justify-content: flex-start;  
    flex-wrap:nowrap;
    flex-direction: column;/*new RDX 210810 ====*/
}

.footer_div
{
    /*background-color:yellow;
    border: solid lightgreen;*/
    margin:40px auto  20px 30px;
    height:77%;
    width:80%;
}

.footer_div ul
{
    display:flex;
    flex-direction: column;    
    padding-top:0px;
    /*border: solid blue;*/
    flex-wrap: nowrap;
    align-content: flex-start;
    height: 50%; 
}

.footer_div ul li 
{
    /*border:solid red;*/
    width:100%;
    text-align: start;
    font-size:14px;
    font-family: 'Raleway',sans-serif;
    padding-top:0px;   
    padding-bottom:20px; 
    height:30px;
}

footer .footer_div h3
{
    font-size:20px;
    font-family: 'Raleway',sans-serif;
    font-weight: 600 ;  
    margin-bottom:25px; 
    margin-top:5px;
}

.footer_div p:hover
{
    color:#0065FC;
    font-weight:bold;
    cursor:pointer;
    font-size:18px;
    font-family: 'Raleway',sans-serif;
    font-weight: 600 ;  
}

.footer_div nav ul li:hover
{
    border-top: hidden;
}

.footer_div nav ul li a:hover
{
    color:#0065FC;
    font-weight:bold;
    /*cursor:pointer;*/
    font-size:18px;
    font-family: 'Raleway',sans-serif;
    font-weight: 600 ;  
    border-top: hidden;
}



}