@media screen  and (max-width:480px)
{
    /*vérifier si utile début */

    *
    {
        box-sizing: border-box;
    }


    html, body, ul, li, h1, h2, h3, h4, p, img
    {
        margin: 0;
        padding: 0;
    }

    h1, h2, h3, p
    {
        font-size: 1rem;
    }

    img
    {
        display: block;
    }

    a
    {
        color: black;
        text-decoration: none;
    }

    /*ul{list-style-type: none;}*/


    /* -------- Fin RESET ---*/
        /*vérifier si utile fin   */
    
     body
    {
        /*background-color:chartreuse; */
        font-size: 16px;
        font-family: 'Raleway',sans-serif;
        max-width: 480px;
        /*min-width: 480px;*/
        margin-top: 0px;
        margin-right:auto;
        margin-bottom:0px;
        margin-left:auto;
        
    }
    
    header
    {
        max-width: 440px;
        /*min-width: 440px;*/
        margin-left:auto;
        margin-right:auto;
        margin-bottom:50px;
        /*border:solid grey;*/
        max-height:150px; 
        min-height:150px;
        
    }
    
    .div_logo
    {
        width:100px;
        height:75px;  
        min-width:100px;
        min-height:75px;
        padding-top: 10px;    
        /*font-size:29px ;*/
        position:absolute;
        /*border:solid purple;*/
        margin:30px;
    }

    #logo_reservia
    {
        width:100%; 
        height:50%;
        font-size: 15px;
    } 
    
    .div_links
    {
        /*border:solid black;*/
        display:flex;
        flex-wrap:wrap;
        max-height:155px;
        min-height:155px;
        width:100%;
        height:100%;
        margin-top:9px;
        margin-left:0px;
    }

    .div_links nav
    {
        /*border:solid red;*/
        /*flex-basis:max-content;*/
        /*testmax-width:450px;min-width: 425px;*/
        /*max-height:150px;min-height:135px;*/
        max-height:135px;
        min-height:95px;
        height:100%;
        display:flex;
        flex-direction: column;
        /*flex-direction:row;*/
        flex-wrap:wrap;
        width:100%;
        
        
    }

 .div_links nav ul
{
    /*border:solid yellow;*/ 
    /*max-width:375px;*/
    max-width:440px;min-width: 180px;
    /*max-height:150px;min-height:135px;*/
    max-height:135px;
    min-height:95px;
    height:100%;
    width:100%;
    list-style: none;  
    display:flex;  
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;   /* justify-content:flex-end;*/
    align-items:flex-start;
    align-content: flex-start;
    margin-top:0px;
    /*rdx20210822margin-right:auto;*/
    margin-bottom:0px;
    margin-left: auto;
    
    padding-right:0px;
    padding-top:15px;
    padding-left:0px;
    padding-bottom:0px;
    
    
    
}

.div_links nav ul li
{
    /*border:solid pink;*/
    font-size: 18px;
    /*testmin-width:45%;max-width:50%;  */
    height:33.3%; 
    text-align:center;
    padding-top:0px; 
    margin-top:0px;/*rdx20210822*/
    margin-right:auto; 
    margin-bottom:0px;
    margin-left:auto;
    /*rdx20210822width:100%; */ min-width:50%;max-width:50%;
    
}

#li_ini
{
    border-top:hidden;
    border-bottom:3px solid #0065FC;
    order:2;
    /*background-color:orange;*/
    /*margin-top:30px;*/
    
    margin-top:10px;
    /*margin-right:330px;*/
    margin-left:0;margin-right:auto;/*rdx20210822*/ 
}

    #li_act
{
    order:3;
    border-bottom:3px solid #F2F2F2;
    /*background-color:yellow;*/
    margin-top: 10px;
    /*margin-left:330px;margin-bottom:0px;*/
    /*margin-right:20px;rdx20210822*/margin-left:auto;margin-right:0;/*rdx20210822*/
    padding-left:0px;
    position:relative;
    
}
    
#li_ins
{
    order:1;
    margin-left:200px;margin-right:auto;
    margin-top:15px;
    margin-bottom:5px;
    border-bottom:3px solid transparent;
    /*background-color:mediumpurple;*/
    
}
    
#li_ins:hover
{
    border-top:hidden;
    border-bottom: 3px solid #0065FC;
    color:#0065FC;    
}
    
#li_act:hover
{
    border-top:hidden;
    border-bottom: 3px solid #0065FC;
    color:#0065FC;
    margin-top:5px;
}

#li_ini:hover
{
    border-top:hidden;
    border-bottom:3px solid #0065FC;
    color:#0065FC;
    margin-top:5px;
 }

  
 /* SECTION SEARCH ------------------------------*/

#search
{
    margin:2px auto 40px auto; 
    /*border:solid orange;
    background-color: coral; */
    max-width: 440px;
    /*min-width: 440px;*/
    max-height:525px;
    min-height:525px;
    width:100%;
    height:100%;

}
        
    #h1
{
    margin-left:30px;
    margin-right:auto;
    /*padding-left:30px;*/
}
    
    #div_search
{
    display: flex; 
    flex-direction: column;
    height:50px;
    width:20%;
    margin:50px auto 50px auto;
    font-size:1.5rem;
    padding: 0px;
    flex-wrap: wrap;
    align-content:center;
    /*border:solid red;*/
}
    
    #btn
{
    
    display:none;
}

#btn_search
{
    border:none;
    background-color: #0065FC;
    color:white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height:100%;
    /*font-size:0.75rem;*/
    font-size:18px;
    font-weight: bold;
    width:55px;   
    display:block;
}
   
    #div_filter
{
    /*background-color: yellow;
    border:solid purple;*/
    margin-top:20px;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
    max-width:440px;min-width: 180px;
    /*min-width: 440px;*/
    max-height:255px;
    min-height:185px;
    /*justify-content:flex-start;*/
    /*justify-content: center;*/
    /*align-items:flex-start;
    align-content:flex-start;*/
    /*align-items:flex-start;
    align-content: center;
    flex-direction:column;
    flex-wrap:wrap;*/
    display: block;
    width:100%;
    
}
    
    #div_filter>h3 
{
    /*font-size:1rem;*/
    padding-left: 25px;
    margin-left:auto;
    margin-right:auto;
    /*border:solid green;*/
    position:relative;
    font-size:18px;
}
    
  #ContainerFlexFilter
{
    margin-top:10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    flex-wrap:wrap;
    align-items:flex-start;
    /*border:solid red;*/
    max-width:440px;min-width: 180px;
    /*min-width: 440px;*/
    width:100%;
    max-height:255px;
    min-height:185px;
    height:100%;
    /*margin-left:0;*/
    margin-left:0;padding-left: 0;padding-right:200px;
    margin-right:auto;    
}  
    
    .circle_border
{
    border-radius: 50px;
    background-color: #DEEBFF;
    font-size: 23px;
    /*border-color: #0065FC;*/
    border-color:#F2F2F2;
    padding-left:0;
    color:#0065FC;
    min-height:45px;
    min-width:45px;
    text-align:center;
    padding-top: 10px;
}
    
    #div_child
{
order:4;
}

#div_child p
{
    font-size:12px;   
}

#div_money
{
    order:1;
}

#div_money p
{
    font-size:12px;
}

#div_heart
{
    order:2;
}

#div_heart p
{
        font-size:12px;   
}

#div_dog
{
    order:3;
    /*border:solid purple;*/
    /*width:100%;*/
}
    
#div_dog p
{
    
    font-size:12px;   
}
    
    #div_info
{
    
    margin-left:30px;
    margin-right:auto;
    width:75%;   
    
}
    
    #div_info p
    {
     font-size:16px;      
    }

    #div_info i.circle_wht_border
{
    border-radius: 50px;
    background-color: white;
    font-size: 11px;
    border:solid #DEEBFF;
    padding-left:0;
    color:#0065FC;
    min-height:25px;
    min-width:25px;
    text-align:center;
    padding-top:3px;   
}
    
main
{
    /*background-color: rgb(252, 183, 221);
    border:solid black;*/  
    max-width: 440px;
    /*min-width: 440px;*/
    margin-left:auto;
    margin-right:auto;
}
    
    
    
    /* SECTION marseille ----------------------------------------------*/

#section_whole_marseille
{
    /*background-color:cyan;*/
    margin-top:0px;
    display:flex;
    flex-direction:column;
    max-width: 440px;
    /*min-width: 440px;*/
    margin-left:auto;
    margin-right:auto;
    height:2000px;
    
     
}
    
 #article_accommodation
{
    /*border:2px solid purple;*/
    margin-top:25px;margin-bottom:auto;
    order:2;/* new RDX 210810  ====*/
    background-color: white;/* new RDX 210810  ====*/
    display: flex; 
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    max-width: 440px;
    /*min-width: 440px;*/
    width:100%;
    min-height:600px;
    max-height: 1520px;
    height:100%;
}   

    #article_accommodation h2
{
    width:1005%;
    height:35px;
    /*margin-left:15px;*/
    margin-left:auto;padding-left:30px; 
    margin-right:auto;
    font-size:20px;
    font-weight: 600 ;
}
    
    #ContainerFlex
{
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items:center;
    align-content:stretch;
    /*border: 1px solid red;*/
    min-height:600px;max-height: 1520px;
    height:100%;
    max-width: 440px;
    /*min-width: 440px;*/
    margin-left:auto;
    margin-right:auto;
    font-size: 16px;
    width:100%;
    
}
    
    .class_accommodation_marseille
{
    background-color: white;
    border:5px solid;
    border-color: white;
    border-radius: 25px; 
    max-width:440px;
    min-width:335px;
    width:100%;
    max-height:225px;
    /*height:45%;*/
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15px;
    font-size: 16px;
    /*background-color:orange;*/
    box-shadow: 6px 6px 4px  #F2F2F2;
       
}  
    
    .class_top
{
    width:100%;
    height:65%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /*background-color: white;*/
    cursor: pointer;
}

.class_bottom
{
    width:100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /*background-color: white;*/
    cursor: pointer;
    /*workaround  bug in chrome */
    font-size:10px;
}
    
    p.class_bold /*workaround  bug in chrome */
{
    font-weight:bold;
    font-size:16px;
}

.class_bold
{
    font-weight:bold;
    font-size:16px;/*workaround  bug in chrome */
}
    
    #more
{
    /*background-color: rgb(122, 113, 204);
    border: solid rgb(194, 178, 38);   */
    height:10px;
    padding-left:10px; 
    margin-left:auto;/*padding-left:150px;*/
    margin-right:auto;
    margin-top:880px;
    padding-top:15px;
    text-align:left;
    font-size:20px;
    font-weight: 600 ;
}
    /* ASIDE --------------------------------------------------*/

#most_popular
{
    
    order:1;
    max-width: 440px;
    /*min-width: 440px;*/
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:600px;  
    /*border:solid green;*/
    padding-top:0;
    border-radius: 0px;
    
}
    #most_popular_header
{
    /*background-color: yellow;
    border:solid black;*/
    display:flex;
    justify-content:flex-start;
    align-items:baseline;
    max-width: 335px;
    margin-left:auto;
    margin-right:auto;  
    margin-top: 45px;
    margin-bottom:30px;
    width:100%;
}

    #aside_ContainerFlex
{
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items:flex-start;
    align-content:flex-start;
    /*border: 2px solid purple;*/
    height:465px;
    max-width: 440px;min-width: 335px;
    width:100%;
    padding-top:0px;
    padding-bottom: 0px;
    margin-left:auto;
    margin-right:auto;
}
    
    .aside_div_flex
{
    background-color: white;
    border-radius: 25px;
    max-width: 335px;
    width:100%;
    padding-bottom:0px;
    padding-top:0px;
    margin-left: auto;
    margin-right: auto;
    /*height:100%;*/   
    border:5px solid;
    border-color: white; 
    display: flex;
    flex-direction: row;
    margin-top:0px;
    margin-bottom: 10px;
    height:145px;
    justify-content: flex-start;
    /*border:solid red;*/ 
}  
   
    .div_img
{
    width:40%;
    /*border:solid pink;*/
}

.div_txt
{
    width:60%;
    /*background-color: darkseagreen;*/
    /*border: solid blue;*/
    /*font-size:10px;*/
}

    
    /* ARTICLE activités art_act ------------------------------*/

#article_activities
{
    /*background-color: pink;
    border:2px solid darkgray;   */
    margin-left:auto;
    margin-right:auto;
    border-radius: 0px;  /*new RDX 210810 ===*/  
    padding:25px 0px 0px 20px; 
    margin-bottom: 0px;/*new RDX 210810 ===*/
    margin-top:1625px;/*new RDX 210810 ===*/
    height:1288px;/*new RDX 210810 ====*/
    max-width: 440px;
    /*min-width: 440px;*/
}

 #article_activities h2
{
    /*margin-left:15px;*/
    margin-left:auto;
    margin-right:auto;
    padding-left:15px;
}   
    
 #section_activities
{
    /*background-color: orangered;
    border:solid black;  */ 
    border-radius: 25px;
    margin:5px auto 0px auto;
    height:100%;
    display:flex;
    justify-content: flex-start;
    /*align-items:space-between;*/
    align-items: center;
    font-weight:bold;
    flex-direction: column;
    max-width: 440px;
    /*min-width: 440px;*/
    
}   
    
.div_activities
{
    background-color: white;
    /*border: 3px solid;
    border-color:pink;*/
    border-radius: 25px;
    max-width:335px;
    min-width:232px;
    width:100%;
    max-height:225px; 
    margin-top:0px;
    margin-bottom:30px; 
    box-shadow: 6px 6px 4px  #F2F2F2;     
}  
   
    .flex_box_col
{
    /*background-color: rgb(68, 189, 52);*/
    display: flex;
    flex-direction: column;
    /*flex-wrap: nowrap;*/
    align-items:flex-start;
    align-content:space-between;/*new RDX 210810 ===*/
    max-width:335px;
    min-width:232px;
    width:100%;
   
}

.div_activities_column
{
    background-color: white;
    /*border:solid green;*/
    border-radius: 25px;
    max-height:225px;
    height:100%;
    margin-top:0px;
    box-shadow: 6px 6px 4px  #F2F2F2;
    margin-bottom:0px;
}  

 /* FOOTER ------------------------------------------------------*/

    footer
{
    display:flex;
    /*background-color: #00cafc;*/
    background-color: #F2F2F2;
    max-width: 480px;
    /*min-width: 480px;*/
    justify-content:flex-start;  
    flex-wrap:nowrap;
    flex-direction: column; 
    margin: 285px auto 0px auto; padding:0px;
    width:100%;
    max-height:600px;
}

.footer_div
{
    /*background-color:yellow;
    border: solid lightgreen;*/
    margin:20px auto  10px auto;
    /*height:70%;*/
    width:80%;
    padding:0px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;  
    align-content: flex-start;
    align-items: flex-start;
}
    
.footer_div nav
{
    /*background-color: pink;*/
    padding-left:0px;  
    width:85%;
    display: flex;
    flex-direction: column;
    justify-content:center; 
    align-content:center; 
    /*align-items:baseline;   */
    align-items:flex-start; 
}

.footer_div ul
{     
    padding:0px;
    /*border: solid blue;*/  
    margin-left:0px;
    margin-right:auto;   
}

.footer_div ul li 
{
    /*border:solid red;*/
    width:100%;
    font-size:14px;
    padding:0px;
    height:30px;
    margin-left:auto;
    margin-right:auto;
}

footer .footer_div h3
{
    font-size:20px;     
    font-weight: 600 ;  
    margin-bottom:25px; 
    margin-top:5px;
}

.footer_div p:hover
{
    color:#0065FC;
    font-weight:bold;
    cursor:pointer;
    font-size:18px;     
    font-weight: 600 ;  
}

.footer_div nav ul li:hover
{
    border-top: hidden;
}

.footer_div nav ul li a:hover
{
    color:#0065FC;
    font-weight:bold;
    /*cursor:pointer;*/
    font-size:18px;   
    font-weight: 600 ;  
    border-top: hidden;
}


    
    
    
}