
*
{
    box-sizing: border-box;
}


html, body, ul, li, h1, h2, h3, h4, p, img
{
    margin: 0;
    padding: 0;
    
}

body
{
    font-size: 16px;
    font-family: 'Raleway',sans-serif;
    max-width:1440px;
    margin:0 auto;
    
    /*https://stackoverflow.com/questions/9087651/disable-mouse-scroll-when-overflow-x-hidden-css-html/9399429#9399429
    You can actually use this directly on body if you set overflow-x: hidden; and position: relative; on it – roborourke Feb 16 '14 at 18:33 
    */
    overflow-x: hidden;position:relative;
    
}

h1, h2, h3, p
{
    font-size: 1rem;
}

img
{
    display: block;
}

a
{
    color: black;
    text-decoration: none;
}
 
/*ul{list-style-type: none;}*/


/* -------- Fin RESET ---*/

html
{
    scroll-behavior: smooth;
}

/* HEADER -------------------------------------*/

header
{
    margin-top:0px; 
    margin-bottom:35px;
    padding-top:0px;
    flex-direction:row;
    max-width: 1440px;     
    margin-left:auto;
    margin-right:auto;
    height:100px;
    padding-left:3.472%;padding-right:3.472%;
    
}

.flex_box
{
    display:flex;
    justify-content: space-between;
}

.div_logo
{
    max-width:118px;min-width: 118px;
    max-height:80px;   
    padding-top: 45px;    
    position:relative;
    /*test04092021*/
    max-width:95px;min-width:95px;
    
}

#logo_reservia
{
    width:100%; 
    height:100%;
    margin:0;
    font-size: 15px;
}

.div_links
{
    height:95%;
    padding-top: 0px;  
    position:relative;max-width:495px;width:100%;
}

.div_links nav
{
    height:100%; max-width:495px;width:100%;
}

.div_links nav ul
{
    max-width:495px;
    width:100%;
    max-height:78px;
    height:100%;
    list-style: none;  
    margin:0px 0px auto 0px;    
    display:flex;
}

.div_links nav ul li
{
    font-size: 15px;
    max-width:165px;min-width:100px;width:100%;
    height:100%;
    text-align:center;
    padding-top: 50px;    
    border-top:3px solid transparent;      
}

#li_ini
{
   border-top:3px solid #0065FC;    
}

#a_ini
{
    color:#0065FC;
}

.div_links nav ul li:hover
{
    border-top: 3px solid #0065FC;
    color:#0065FC;
}

.div_links nav ul li a:hover
{
    color:#0065FC;
}

.class_bold_and_blue
{
    color:#0065FC;
    font-weight:600;
}


main
{
    max-width: 1440px;     
    margin-left:auto;
    margin-right:auto; 
    padding-left:3.472%;padding-right:3.472%;  
}

.dummy
{
    display:none;
}

 /* SECTION SEARCH ------------------------------*/


#search
{
    margin:2px 0 40px 0px; 
}



#search p
{
    font-size:18px;
}

#h1
{
   margin-left:0px; 
}

#h1 h1
{
    font-size:26px;font-size:20px;/*test04092021*/
    font-weight: 700 ;
    margin-bottom: 9px;       
}

#h1 p
{
    font-size:15px; 
}

#div_search
{
    display: flex; 
    flex-direction: column;
    height:50px;
    width:100%;
    margin:50px 0 50px 0px;
    font-size:1.5rem;
    padding: 0px;
    flex-wrap: wrap;
    align-content:flex-start;
}

#div_search input
{
    font-weight:bold;
    height:100%;
}

#posi_town
{
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;  
    max-width:55px;width:100%;
    font-size:20px;
    text-align:center;
    height:65px;
    align-content: center;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;    
}

#town
{
    border:none;
    text-align:start;
    border-right:hidden;
    border-left:hidden;
    height:100%;
    font-size:20px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-top-color: #F2F2F2;
    border-bottom-color: #F2F2F2;
    max-width:235px;
    padding-left: 15px;
}

#btn
{
    border:none;
    background-color: #0065FC;
    color:white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height:100%;
    cursor:pointer;
    font-size:18px;
    font-weight: bold;
    max-width:135px;width:100%;
}

#btn_search
{
    display:none;
}

.class_uppercase
{
    text-transform: uppercase; 
}

#div_filter
{
    margin-top:0px;
    margin-bottom:20px;
    min-height:49px;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    max-width:1235px; 
    min-width:410px;width:100%;
}

#div_filter h2
{
    font-size:16px;
    font-weight:bold;
    margin-right:30px;margin-top:15px;
}

#div_filter p
{
    padding-left:20px;
    padding-right:20px;
    font-weight:bold;   
}

#ContainerFlexFilter
{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;flex-wrap: wrap;
    max-width:1135px; 
    min-width:410px;width:100%;
    max-height:305px;
    min-height:49px;height:100%;
    align-items: center;
    margin:0 auto 16px 0;
    
}

.circle_border
{
    border-radius: 50px;
    background-color: #DEEBFF;
    font-size: 23px;
    /*border-color: #0065FC;*/
    border-color:#F2F2F2;
    padding-left:0;
    color:#0065FC;
    min-height:45px;
    min-width:45px;
    text-align:center;
    padding-top: 10px;
}

.hover_blu:hover
{
    color:#0065FC;
    cursor:pointer;
    border-color: #0065FC;
}

.flex_box_special
{
    display: flex; 
    margin:0px 20px 5px 0px;
    padding-left:0px; 
    justify-content:flex-start;
    flex-direction: row;
    font-size: 23px;
    background-color: white;
    border: solid #F2F2F2;
    border-radius: 25px;
    min-height: 49px;
    align-items: center;    
}

  
#div_child
{
    display: flex;
    max-width:152px;
    min-height: 49px;
    min-width: 138px;
}
#div_child p
{
    font-size:16px;   
}

#div_money
{
    display: flex;
    max-width:196px;
    min-height: 49px;
}

#div_money p
{
    font-size:16px;
}

#div_heart
{
    display: flex;
    max-width:187px;
    min-height: 49px;
}

#div_heart p
{
        font-size:16px;   
}

#div_dog
{
    display: flex;max-width:246px;min-height: 49px;font-size:11px;
}

#div_dog p
{
    font-size:16px;   
}
    
 
#div_info
{
    display:flex;
    justify-content:flex-start;
    max-width:550px;
    align-content:center; 
}

#div_info p
{
    margin-left:15px;
    margin-top:2px;
    /*test04092021*/
    font-size:15px;
}

.bckcol_blue
{
    color:#0065FC;
    font-size:12px;
}

.circle_wht_border
{
border-radius: 50px;
background-color: white;
font-size: 11px;
/*border:solid #DEEBFF;*/border:1px solid #F2F2F2;
padding-left:0;
color:#0065FC;
min-height:25px;max-height:25px;
min-width:25px;max-width:25px;
text-align:center;
padding:4px;
}




/* SECTION marseille ----------------------------------------------*/

#section_whole_marseille
{
    border-radius:25px;   
    padding:0; 
    max-width:1340px;width:100%;
    display: flex;
    max-height:1554px;min-height:625px;
    flex-wrap:wrap;
    justify-content:flex-start;
    /*gap:40px;*/
    margin:0 auto;
}

#article_accommodation h2
{
    max-width:481px;
    min-width:186px;
    max-height:70px;min-height:35px;
    margin-left:0px;
    font-size:22px;
    font-weight: 600 ;
    display: flex;
}

#article_accommodation
{
    background-color: #F2F2F2;
    max-width:880px;
    width: 100%; 
    max-height:1554px;min-height:625px;height:100%;
    /*padding:40px 35px 70px 30px;*/ padding:40px 2.75% 70px 2.75%;
    border-radius: 25px;font-size:1rem;
    display: flex; 
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-left:auto;  
    /*margin-bottom:0px;*/margin-left:0;
    margin-right:auto;/*margin-right:40px;*/
    /*column-gap:40px;column-gap:2%;*/
    /*border:solid green;*/
}

#ContainerFlex
{
    display:flex;column-gap:22.5px; row-gap:30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
    min-height:420px;
    max-width:880px;width:100%;
    padding-top:0px;
    padding-bottom: 0px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;margin:10px auto 0 auto;
    font-size: 16px;
}

.class_accommodation_marseille
{
    background-color: white;
    border:5px solid;
    border-color:transparent;
    border-radius: 25px; 
    max-width:248px;
    /*min-width:232px;*/
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    max-height:205px;
    height:60%;
    font-size: 16px;
    /*background-color:orange;*/
    margin-left:auto;
    margin-right:auto;
    box-shadow: 6px 6px 4px  grey;       
}  

.class_accommodation_marseille p
{
    padding-left:0px;
    font-size: 14px;
    padding-top:0px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: flex-start;
}

.class_accommodation_marseille:hover
{
    color:#0065FC;    
    box-shadow: 6px 6px 4px black;
}

.div_top
{
    padding-top:0px;
}

.bckcol_gray
{
    color:#F2F2F2;
    font-size:12px;
}

.class_top
{
    width:100%;max-width:248px;
    min-width:232px;
    max-height:114px;height:100%;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    cursor: pointer;
}

.class_bottom
{
    max-width:100%; 
    max-width:248px;
    min-width:232px;
    max-height:90px;height:100%;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    cursor: pointer;
    /*workaround  bug in chrome */
    font-size:16px;
    display: flex;
    flex-direction:column ;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-top:5px;
    padding-bottom:10px;
    padding-left:15px;
}

p.class_bold /*workaround  bug in chrome */
{
    font-weight:bold;
    font-size:16px;
}

.class_bold
{
    font-weight:bold;
    font-size:16px;/*workaround  bug in chrome */
}

#more
{
    height:10px;
    margin-left:15px;
    margin-top:5px;
    padding-top:45px;
    text-align:left;
    font-size:20px;
    font-weight: 600 ;
}

#more:hover
{
    font-size:20px;
    font-weight: 600 ;
    color:#0065FC;
}

/* ASIDE --------------------------------------------------*/

#most_popular
{
  
    background-color: #F2F2F2;
    width:100%;max-width: 420px;
    border-radius: 25px;
    margin-right:auto;margin-right:0;
    margin-left:auto;
    padding-top:34px;
    padding-bottom:50px;
    display:flex;
    flex-direction: column;
    min-height:625px;  max-height:625px;  height:100%;
}

#most_popular_header
{
    display:flex;
    justify-content:space-between;
    align-items:baseline;
    max-width:345px;width:100%;
    margin-left:auto;margin-right:auto;
    margin-top:7px;  
}

#most_popular_header h2
{
    font-size:22px;
    font-weight: 600 ;
}

#most_popular_header i
{
    font-size:22px;
    padding-right:0px;
}

#aside_ContainerFlex
{
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items:flex-start;
    align-content:flex-start;
    max-height:525px;
    max-width:345px;width:100%;
    padding-top:0px;
    padding-bottom: 0px;
    margin-left:auto;
    margin-right:auto;
}

.aside_div_flex
{
    background-color: white;
    border-radius: 25px;
    min-width:265px;/*max-width:345px;test050921*/
    width:100%;
    padding-bottom:0px;
    padding-top:0px;
    margin-left: auto;
    margin-right: auto; 
    border:5px solid;
    border-color:transparent;
    display: flex;
    flex-direction: row;
    margin-top:19px;
    margin-bottom: 25px;
    height:145px;
    justify-content: flex-start;
    box-shadow: 6px 6px 4px  grey;  
}  

.div_img
{
    width:125px;
}

.div_txt
{
    width:209px;
}

.aside_div_flex:hover
{
    color:  #0065FC;
    box-shadow: 6px 6px 4px  black;  
}

.aside_div_flex p
{
    padding-left:15px;
    font-size:14px;    
}

#aside_div_h2
{
    width:300px;
    margin-left:30px;
    margin-top:5px;
}

#aside_div_h2 h2
{
    font-size:22px;
    font-weight: 600 ;
}

.aside_class_img
{
    width:100%;
    height:100%;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
    cursor: pointer;
}

.aside_txt
{
    width:65%;
    height:100%;
    border-bottom-right-radius: 19px;
    border-top-right-radius: 19px;
    padding-top:10px;
    cursor: pointer;
}

.aside_txt p
{
    padding-bottom: 8px;
}

.aside_txt p i
{
    padding-top: 25px;
}


/* ARTICLE activités ------------------------------*/

#article_activities
{
    border-radius: 25px;    
    padding:25px 0px 50px 0px; 
    margin-bottom: 50px;
    margin-top:30px;
    min-height:530px;    
}

#article_activities h2
{
    font-size:22px;
    font-weight: 600 ;    
    max-width:650px;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /*margin-left: auto;*/
    margin-right:auto; margin-bottom: 15px;
    padding-left:8px;
}

#section_activities
{
    border-radius: 25px;
    margin:5px auto 0px auto;
    height:100%;max-width:1340px;
    display:flex;flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-weight:bold;gap: 30px;
}

#left_activities
{
    max-width:650px;
    width:100%;
    display:flex;
    flex-direction:row;
    column-gap: 37px;column-gap: 5%;
    margin-left: auto;
    margin-right: auto;
}

#right_activities
{
    max-width: 650px;
    width:100%;
    display:flex;
    flex-direction:row;
    column-gap: 37px;column-gap: 5%;
    margin-left: auto;
    margin-right: auto;
}

.div_activities
{
    background-color: white;
    border-radius: 19px;
    max-height:446px;
    height:100%;
    margin-top:0px;
    box-shadow: 6px 6px 4px  #F2F2F2;
    max-width:305px;
    min-width:245px;width:100%;
}  

.div_activities:hover
{
    color:  #0065FC;box-shadow: 6px 6px 4px  black;  
    background-color:white;
}

.flex_box_col
{
    display: flex;
    flex-direction: column;
    align-items:center;
    max-width:305px;
    min-width:245px;
    width:100%;
    row-gap:37px;
}

.div_activities_column
{
    background-color: white;
    border-radius: 19px;
    width:100%;
    margin-top:0px;
    box-shadow: 6px 6px 4px  #F2F2F2;
}  

.div_activities_column:hover
{
    color:  #0065FC;
    box-shadow: 6px 6px 4px  black;  
    background-color:white;
}

.big_pic
{
    max-height:391px; 
    height:100%;
    max-width:305px;
    min-width:245px;
    width:100%;
}

.small_txt
{
    max-width:305px;
    min-width:245px;
    width:100%;
    max-height:79px;
    min-height:79px;
    height:100%;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    cursor: pointer;
    /*workaround  bug in chrome */
    font-size:16px;
    display: flex;
    flex-direction:row ;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-top:18px;
    padding-left:20px;
}

/*chrome bug rdx20210831*/
.small_txt p
{
    font-size:16px;
}

#div_pomeg
{
    max-height:240px;
    height:100%;
    max-width:305px;
    min-width:245px;
    width:100%;
}

.pic_pomeg
{
    height:100%;
    max-height:182px;
    max-width:305px;
    min-width:245px;
    width:100%;
}

#div_frioul
{
    height:100%;
    max-height:165px;
    max-width:305px;
    min-width:245px;width:100%;
}

.pic_frioul
{
    height:100%;max-height:110px;
    max-width:305px;
    min-width:245px;
    width:100%;
}

#div_nd_garde
{
    height:100%;max-height:195px;
    max-width:305px;
    min-width:245px;width:100%;
}

.nd_garde
{
    height:100%;max-height:141px;
    max-width:305px;
    min-width:245px;
    width:100%;
}

#div_p_longchamp
{
   height:100%;max-height:210px;
   max-width:305px;
   min-width:245px;width:100%;
}

.p_longchamp
{
    height:100%;max-height:153px;
    max-width:305px;
    min-width:245px;
    width:100%;
}

.pic_fit
{
    object-fit: cover;   
}


/* FOOTER ------------------------------------------------------*/

footer
{
    display:flex;
    background-color: #F2F2F2;   
    max-height:259px;min-height:218px;
    margin: 55px auto 0px auto;
    max-width: 1440px;
    justify-content: flex-start;  
    flex-wrap:nowrap;
    overflow-x: hidden;overflow-y: hidden;
    text-decoration:none;
}

.footer_div
{
    margin:40px auto  auto 50px;
    height:80%;
    width:100%;
}

.footer_div ul
{
    display:flex;
    flex-direction: column;    
    padding-top:0px;
    flex-wrap: nowrap;
    align-content: flex-start;
    height: 50%; 
    list-style: none; /* Remove list bullets */
}

.footer_div ul li 
{
    width:100%;
    text-align: start;
    font-size:15px;
    padding-top:0px;  
    padding-bottom:20px; 
    min-height:30px;
}

footer .footer_div h2
{
    font-size:20px;
    font-weight: 600 ;  
    margin-bottom:25px; 
}

.footer_div p:hover
{
    color:#0065FC;
    cursor:pointer;
}

.footer_div nav ul li:hover
{
    border-top: hidden;
}

.footer_div nav ul li a:hover
{
    color:#0065FC;
    border-top: hidden;
}

@media screen and (max-width:1439px)/*1439 au lieu de 1429*/
{
    #article_accommodation
    {
        margin-right:auto;
        margin-left:auto;
    }
    
    #most_popular /*test060921*/
    {
        margin-right:auto;
        margin-left:auto;
    }

    #article_activities h2
    {
        margin-left: auto;   
        /*test050921*/
        max-width:1429px;
        /*margin:0 auto; */
        justify-content: center;
    }   
    
}


@media screen and (max-width:1418px)/*1418 au lieu de 1398*/
{
    #most_popular /*test060921*/
    {
        max-width: 880px;
        margin-top:30px;
    }

    #most_popular_header /*test060921*/
    {
        max-width:455px; 
    }

    #aside_ContainerFlex/*test060921*/
    {
        max-width:455px;  
    }

    .aside_div_flex/*test060921*/
    {
        max-width:455px;
    }     
}/*fin 1418*/

@media screen and (max-width:616px)/* 616 au lieu de 608 au lieu de 589*/
{
        #article_activities
    {  
        margin-top:690px;       
    }

    #article_activities h2
    {
        max-width:616px;
        margin:0 auto; 
        justify-content: center;   
    }   

    #left_activities
    {
        flex-wrap: wrap;
        column-gap:0;
    }

    #right_activities
    {
        margin-top:170px;
        flex-wrap: wrap;
        column-gap:0;
    }

    .div_activities
    {
        
        margin:30px auto 30px auto;
        max-height:193px;
        min-width :335px;
        max-width:375px;  
        width:100%;  
        box-shadow: 6px 6px 4px  #F2F2F2;
    }  

    .div_activities_column
    {
        min-width :335px;
        max-width:375px;  
        width:100%;  
        max-height:193px;
        width:100%;
        box-shadow: 6px 6px 4px  #F2F2F2;
        gap:0px;/*rdx20210830*/
    }  

    .flex_box_col
    {  
        min-width :335px;
        max-width:375px;  
        width:100%;  
        max-height:193px;height:100%;
        margin:0px auto 30px auto;
        /*border:solid red;*/
    }

    .class_accommodation_marseille
    {
        min-width :335px;
        max-width:375px;  
        width:100%;  
    }  

    .class_top
    {
        min-width :335px;
        max-width:375px;  
        width:100%;  
        min-height:133px;
    }

    .class_bottom
    {
        min-width :335px;
        max-width:375px;  
        width:100%;  
        min-height:60px;
    }


    #aside_ContainerFlex/*test050921*/
    {
        min-width :335px;
        max-width:375px;  
        width:100%;  
    }


    .big_pic
    {
        
        min-width :335px;
        max-width:375px;  
        width:100%;  
        max-height:133px;
    }

    .small_txt
    {
        min-width :335px;
        max-width:375px;  
        width:100%;  
        min-height:60px;
    }

    #div_pomeg
    {
        max-height:193px;
        min-width :335px;
        max-width:375px;  
        width:100%;  
    }

    .pic_pomeg
    {
        max-height:60px;
        min-width :335px;
        max-width:375px;  
        width:100%;  
    }

    #div_frioul
    {
        max-height:193px;
        min-width :335px;
        max-width:375px;  
        width:100%;  
    }

    .pic_frioul
    {
        max-height:60px;
        min-width :335px;
        max-width:375px;  
        width:100%;  
    }

    #div_nd_garde
    {
        max-height:193px;
        min-width :335px;
        max-width:375px;  
        width:100%;  
    }

    .nd_garde
    {
        max-height:60px;
        min-width :335px;
        max-width:375px;  
        width:100%;  
    }

    #div_p_longchamp
    {
        max-height:193px;
        min-width :335px;
        max-width:375px;  
        width:100%;  
    }

    .p_longchamp
    {
        max-height:60px;
        min-width :335px;
        max-width:375px;  
        width:100%;         
    }

    footer
    {
        margin: 185px auto 0px auto;
        max-height:459px
    }
}/*fin616 au lieu de 608 au lieu de 589*/

@media screen and (max-width:515px)
{
    
    footer
    {
        flex-wrap: wrap;
        max-height:659px
    }

    #btn_search
    {
        border:none;
        background-color: #0065FC;
        color:white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height:100%;
        cursor:pointer;
        font-size:18px;
        font-weight: bold;
        /*test04092021max-width:55px;*/max-width:52px;
        width:100%;
        display:block;
    }

    #btn
    {
        display:none;
    }


}/*fin515*/

@media screen and (max-width:480px)
{
    
    body
    {
        max-width: 480px;        
        /*test04/09/2021*/
        padding:0;
        margin:0;
    }
    
    main
    {
        /*test04/09/2021*/
        max-width: 480px;      
        padding:0;
        margin:0;
        
    }

    header
    {
        max-width: 480px;
        margin-bottom:50px;
        /*border:solid grey;*/
        max-height:150px; 
        min-height:150px;    
         /*test04/09/2021*/
        padding:0;
        margin:0;
    }
    
    .div_logo
    {
        width:100px;
        min-width:100px;
        min-height:77px;
        padding-top: 10px;    
        position:absolute;
        margin-top:14px;    
         /*test04/09/2021*/
        margin-left:20px;
        font-size: 12px;
    }

    #logo_reservia
    {
        width:100%; 
        height:50%;
        font-size: 15px;
         /*test04/09/2021*/
        /*font-size: 10px;*/
    } 
    
    .div_links
    {
        display:flex;
        flex-wrap:wrap;
        max-height:155px;
        min-height:155px;
        width:100%;
        height:100%;
        margin-top:9px;
        margin-left:0;
        margin-right:0;/*rdx31082021*/
    }

    .div_links nav
    {
        max-height:135px;
        min-height:95px;
        height:100%;
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        width:100%;        
    }

    .div_links nav ul
    {
    max-width:480px;
    min-width: 180px;
    max-height:135px;
    min-height:95px;
    height:100%;
    width:100%;
    list-style: none;  
    display:flex;  
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;    
    align-items:flex-start;
    align-content: flex-start;
    margin-top:0px;
    /*rdx20210822margin-right:auto;*/
    margin-bottom:0px;
    margin-left: auto;    
    padding:15px 0px 0px 0px; 
    }

    .div_links nav ul li
    {
        font-size: 18px;
        height:33.3%; 
        text-align:center;
        padding-top:0px; 
        margin:0 auto;
        min-width:50%;max-width:50%;        
    }

    #li_ini
    {
        border-top:hidden;
        border-bottom:3px solid #0065FC; 
        order:2;
        margin-top:10px;
        margin-left:0;
        margin-right:auto; 
        padding-right:0;
    }

        #li_act
    {
        order:3;
        border-bottom:3px solid #F2F2F2;
        border-top:hidden; 
        margin-top: 10px;
        margin-left:auto;margin-right:0;
        padding-left:0px;
        position:relative;        
    }
        
    #li_ins
    {
        order:1;
        border-bottom:3px solid transparent; 
        border-top:hidden;
        border-bottom: hidden;
        /*background-color:mediumpurple;*/    
        /* test04092021
        margin-left:200px;*/
        margin:15px auto 5px 228px;
        
    }
        
    #li_ins:hover
    {
        border-top:hidden;
        border-bottom: 3px solid #0065FC;
        color:#0065FC;  
    }
        
    #li_act:hover
    {
        border-top:hidden;
        border-bottom: 3px solid #0065FC;
        color:#0065FC;       
    }

    #li_ini:hover
    {
        border-top:hidden;
        border-bottom:3px solid #0065FC;
        color:#0065FC;
    }

    #search /*test04092021*/
    {
        margin-left: 20px;
        margin-right:20px;
    }
    
    #h1 h1/*test04092021*/
    {
        font-size:20px;    
    }
    
    #div_search input   /*test04092021*/
    {
        max-width: 231px;
    }
    
    #div_filter
    {       
        min-width:350px;width:100%;
    }

    #div_filter p
    {
        font-size:15px;
    }

    #div_filter h2
    {
        margin-top:0px;
        margin-bottom:15px;
    }

    #div_info
    {
        margin-top:10px ;
        margin-left:auto;
        margin-right:auto;
    }

    #ContainerFlexFilter
    {
        margin-bottom:0;  
        max-width:480px; 
        min-width:370px;width:100%;      
    }

    #most_popular
    {
        order:1;   
        border-radius: 0px;
        margin-bottom:0px;
    }

    #most_popular_header
    {
        max-width:335px;
        width:100%;          
    }

    #aside_ContainerFlex
    {
        max-width:335px; 
        min-width:260px;
        width:100%;   
    }

    .aside_div_flex
    {
        box-shadow: none;  
    }  

    #section_whole_marseille
    {
        gap:0px;
    }

    #article_accommodation
    {
        order:2; 
        background-color: white; 
        margin-top:0px;
    }

    #article_accommodation h2
    {
        padding-left:13px;
    }

    /*les images font 335px de large qd l'écran fait 375px*/
    .class_accommodation_marseille
    {
        max-width:335px; 
        min-width:260px;
        width:100%;      
    }  

    .class_top
    {
        max-width:335px; 
        min-width:260px;
        width:100%;   
        min-height:133px;
    }

    .class_bottom
    {
        max-width:335px; 
        min-width:260px;
        width:100%;   
        min-height:60px;
    }

    #article_activities h2
    {
        max-width:480px;
        margin:0 auto; 
        justify-content: flex-start;   
        padding-left:15px;
        /*test04092021*/
        padding-left:21px;
    }   

    .div_activities
    { 
        max-height:193px;
        max-width:335px; 
        min-width:260px;
        width:100%;   
        box-shadow: 6px 6px 4px  #F2F2F2;
    }  
    
    .big_pic
    {
        max-width:335px; 
        min-width:260px;
        width:100%;   
        max-height:133px;
    }

    .small_txt
    {
        max-width:335px; 
        min-width:260px;
        width:100%;   
        min-height:60px;
    }

    .div_activities_column
    {
        max-width:335px; 
        min-width:260px;
        width:100%;   
        max-height:193px;width:100%;
        box-shadow: 6px 6px 4px  #F2F2F2;
    } 

    .flex_box_col
    {      
        max-width:335px; 
        min-width:260px;
        width:100%;   
        max-height:193px;
        height:100%;
    }

    #div_pomeg
    {
        max-height:193px;
        max-width:335px; 
        min-width:260px;
        width:100%;   
    }

    .pic_pomeg
    {
        max-height:60px;
        max-width:335px; 
        min-width:260px;
        width:100%;   
    }

    #div_frioul
    {
        max-height:193px;
        max-width:335px; 
        min-width:260px;
        width:100%;   
    }

    .pic_frioul
    {
        max-height:60px;
        max-width:335px; 
        min-width:260px;
        width:100%;   
    }

    #div_nd_garde
    {
        max-height:193px;
        max-width:335px; 
        min-width:260px;
        width:100%;   
    }

    .nd_garde
    {
        max-height:60px;
        max-width:335px; 
        min-width:260px;
        width:100%;   
    }

    #div_p_longchamp
    {
        max-height:193px;
        max-width:335px; 
        min-width:260px;
        width:100%;   
    }

    .p_longchamp
    {
        max-height:60px;
        max-width:335px; 
        min-width:260px;
        width:100%;        
    }
    
    #article_activities
    {  
        margin-top:640px;    
    }

    footer
    {
        /*max-height:486px;*/max-height:100%;
        
    }

    .footer_div
    {
        margin-left:25px;
        margin-top:45px; 
        margin-bottom:5px; 
        width:90%;
        padding:0;
        max-height:115px;
    }

    footer .footer_div h2
    {
        font-size:18px;
        font-weight: 600 ;  
        margin-bottom:20px; 
        margin-top:00px;
    }

    .footer_div ul li 
{
    width:90%;
    max-height:30px;
    
}

}/*fin480*/