
*
{
    box-sizing: border-box;
}


html, body, ul, li, h1, h2, h3, h4, p, img
{
    margin: 0;
    padding: 0;
    
}

body
{
    font-size: 16px;
    font-family: 'Raleway',sans-serif;
    max-width:1440px;
    margin:0 auto;
    
    /*https://stackoverflow.com/questions/9087651/disable-mouse-scroll-when-overflow-x-hidden-css-html/9399429#9399429
    You can actually use this directly on body if you set overflow-x: hidden; and position: relative; on it – roborourke Feb 16 '14 at 18:33 
    */
    overflow-x: hidden;position:relative;
    
}

h1, h2, h3, p
{
    font-size: 1rem;
}

img
{
    display: block;
}

a
{
    color: black;
    text-decoration: none;
}
 
/*ul{list-style-type: none;}*/


/* -------- Fin RESET ---*/


/* HEADER -------------------------------------*/

header
{
    margin-top:0px; 
    margin-bottom:35px;
    padding-top:0px;
    flex-direction:row;
    /*background-color: aqua;
    border:solid grey;*/ 
    max-width: 1340px;     
    margin-left:auto;
    margin-right:auto;
    height:100px;
}

.flex_box
{
    display:flex;
    justify-content:space-between;
}

.div_logo
{
    /*border:solid lightgreen;*/
    /*width:100%;*/max-width:118px;min-width: 118px;
    /*height:100%;*/ max-height:80px;   
    padding-top: 45px;    
    position:relative;
}

#logo_reservia
{
    width:100%; /*max-width:98px;*/
    height:100%;/*max-height:31px;*/ 
    /*border:solid green;*/
    margin:0;
    font-size: 15px;
}

.div_links
{
    /*border:solid #0065FC;*/
    /*210210821 rdxflex-basis:37%;*/width:37%;
    height:95%;
    padding-top: 0px;  
    
    
}

.div_links nav
{
    /*border:solid red;*/
    /*210210821 rdxflex-basis:100%;*/width:100%;
    height:100%; 
}

.div_links nav ul
{
    /*border:solid yellow;*/ 
    max-width:480px;
    /*210210821 rdxflex-basis:100%;*/width:100%;
    max-height:78px;
    height:100%;
    list-style: none;  
    margin:0px 0px auto 0px;    
    display:flex;
}

.div_links nav ul li
{
    /*border:solid pink;*/
    font-size: 18px;
    /*font-weight:bold;*/
    /*width:33%;*/   min-width:33.3%;max-width:33.3%;/*min-width:50%;max-width:50%;*/
    height:100%;
    text-align:center;
    padding-top: 50px;    
    border-top:3px solid transparent;   
    /*flex:1;*/
    
}

#li_ini
{
   border-top:3px solid #0065FC;    
}

#a_ini
{
    color:#0065FC;
}

.div_links nav ul li:hover
{
    border-top: 3px solid #0065FC;
    color:#0065FC;
}

.div_links nav ul li a:hover
{
    /*color:white;
    background-color: #0065FCviolet;*/
    color:#0065FC;
    font-weight:bold;
}

.class_bold_and_blue
{
    color:#0065FC;
    font-weight:bold;
}


 /* SECTION SEARCH ------------------------------*/

/*h2
{
    font-size:1rem;
    font-weight:bold;
    margin-right:5px;
}*/

#search
{
    margin:2px 0 40px 0px; 
    /*border:solid orange;
    background-color: coral;*/ 
}



#search p
{
    font-size:18px;
}

#h1
{
   margin-left:0px; 
}

#h1 h1
{
    font-size:26px;
    font-weight: 700 ;
    margin-bottom: 9px;   
    
}

#h1 p
{
    font-size:15px; 
}

#div_search
{
    display: flex; 
    flex-direction: column;
    height:50px;
    width:20%;
    margin:50px 0 50px 0px;
    font-size:1.5rem;
    padding: 0px;
    flex-wrap: wrap;
    align-content:flex-start;
    /*border:solid red;*/
}

#div_search input
{
    font-weight:bold;
    height:100%;
}

#posi_town
{
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;  
    width:55px;  
    font-size:20px;
    text-align:center;
    height:65px;
    align-content: center;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;    
}

#town
{
    border:none;
    text-align:start;
    border-right:hidden;
    border-left:hidden;
    height:100%;
    font-size:20px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-top-color: #F2F2F2;
    border-bottom-color: #F2F2F2;
    width:235px;
    padding-left: 15px;
}

#btn
{
    border:none;
    background-color: #0065FC;
    color:white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height:100%;
    cursor:pointer;
    font-size:18px;
    font-weight: bold;
    width:135px;
}

#btn_search
{
    display:none;
}

.class_uppercase
{
    text-transform: uppercase; 
}

#div_filter
{
    /*background-color: rgb(43, 255, 0);
    border:solid purple; */
    margin-top:0px;
    margin-bottom:20px;
    height:75px;
    justify-content: flex-start;
    align-items: center;
}

#div_filter h3
{
    /*font-size:1rem;*/
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
}

#div_filter p
{
    padding-left:20px;;
    padding-right:20px;
    font-weight:bold;   
}

#ContainerFlexFilter
{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: baseline;
}

.circle_border
{
    border-radius: 50px;
    background-color: #DEEBFF;
    font-size: 23px;
    /*border-color: #0065FC;*/
    border-color:#F2F2F2;
    padding-left:0;
    color:#0065FC;
    height:45px;
    width:45px;
    text-align:center;
    padding-top: 10px;
}

.hover_blu:hover
{
    /*color: red;*/
    color:#0065FC;
    font-weight:bold;
    cursor:pointer;
    border-color: #0065FC;
}

.flex_box_special
{
    display: flex; 
    margin:0px 0px 5px 24px;
    padding-left:0px; 
    justify-content:center;
    flex-direction: row;
    font-size: 23px;
    background-color: white;
    /*border-top-color:  black;*/
    /*border-bottom-color: black;*/
    /*border:solid #DEEBFF;*/
    border: solid #F2F2F2;
    border-radius: 25px;
    height: 49px;
    /*background-color: orange;*/
    align-items: center;
}

#div_info
{
    display:flex;
    justify-content:flex-start;
    /*color: red;
    background-color: yellow;*/
    width:550px;
    align-content:center;    
}

#div_info p
{
    margin-left:15px;
    margin-top:2px;
}

.bckcol_blue
{
    color:#0065FC;
    font-size:12px;
}

.circle_wht_border
{
border-radius: 50px;
background-color: white;
font-size: 11px;
border:solid #DEEBFF;
padding-left:0;
color:#0065FC;
height:25px;
width:25px;
text-align:center;
padding-top:3px;
}

main
{
    /*background-color: rgb(252, 183, 221);
    border:solid black;*/  
    max-width: 1340px;     
    margin-left:auto;
    margin-right:auto;
}


/* SECTION marseille ----------------------------------------------*/

#section_whole_marseille
{
    /*background-color:cyan;*/
    padding-top:0px;
    border-radius:25px;   
    border-radius: 25px;    
    padding:0px 0px 0px 0px; 
    margin-bottom: 0px;
    max-width:1340px;
    /*display:flex;
    flex-direction: row;
    justify-content: space-between;*/
     display: flex;
    max-height:624px;
    /*flex-direction:column;*/
    flex-wrap: nowrap;
    justify-content:flex-start;
}

#div_h2
{
    /*background-color: rgb(122, 113, 204);
    border: solid rgb(194, 178, 38);*/   
    width:75%;
    height:35px;
    margin-left:15px;
}

#div_h2 h2
{
    font-size:22px;
    font-weight: 600 ;
}

#article_accommodation h2
{
    width:75%;
    height:35px;
    margin-left:15px;
    font-size:22px;
    font-weight: 600 ;
}
    


.flex_box_article
{
    display: flex; 
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content: flex-start;
    font-size:1rem;
    /*background-color: lightgreen;*/
    border-radius: 25px;
    align-content:flex-start;
    align-items:flex-start;    
}

#article_accommodation
{
   /* background-color: yellow;*/
    background-color: #F2F2F2;
    /*border:solid purple;*/
    max-width:880px;
    width: 100%; 
    padding:40px 35px 70px 30px;
    margin-bottom:0px;
    border-radius: 25px;
    display: flex; 
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
}

#ContainerFlex
{
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:flex-start;
    align-content:flex-start;
    /*border: 1px solid red;*/
    height:450px;
    width:785px;
    padding-top:0px;
    padding-bottom: 0px;
    margin-left:auto;
    margin-right:auto;
    font-size: 16px;
}

.class_accommodation_marseille
{
    background-color: white;
    border:5px solid;
    border-color: white;
    border-radius: 25px; 
    max-width:248px;
    min-width:232px;
    width:31%;
    max-height:205px;
    height:45%;
    margin-top:5px;
    margin-left:0px;
    margin-right:30px;
    margin-bottom:15px;
    font-size: 16px;
    /*background-color:orange;*/
       
}  

.class_accommodation_marseille p
{
    padding-left:15px;
    font-size: 14px;
    padding-top:5px;
}

.class_accommodation_marseille:hover
{
    color:#0065FC;    
    border:solid;
    border-color: #0065FC; 
    /*border-color: #DEEBFF; 
    background-color:#DEEBFF;*/
}

.div_top
{
    padding-top:0px;
    /*border:solid darkgray;   */
}

.bckcol_gray
{
    color:#F2F2F2;
    /*font-size:1rem;*/
    font-size:12px;
}

.class_top
{
    width:100%;
    height:60%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /*background-color: white;*/
    cursor: pointer;
}

.class_bottom
{
    width:100%;
    height:60%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /*background-color: white;*/
    cursor: pointer;
    /*workaround  bug in chrome */
    font-size:16px;
}

p.class_bold /*workaround  bug in chrome */
{
    font-weight:bold;
    font-size:16px;
}

.class_bold
{
    font-weight:bold;
    font-size:16px;/*workaround  bug in chrome */
}

#article_accommodation h3
{
    /*background-color: rgb(122, 113, 204);
    border: solid rgb(194, 178, 38);*/   
    height:10px;
    margin-left:15px;
    margin-top:5px;
    padding-top:15px;
    text-align:left;
    font-size:20px;
    font-weight: 600 ;
}


#article_accommodation h3:hover
{
    font-size:20px;
    font-weight: 600 ;
    color:#0065FC;
    /*color:#DEEBFF;*/
    font-weight: bold;
}

#more
{
    /*background-color: rgb(122, 113, 204);
    border: solid rgb(194, 178, 38);*/   
    height:10px;
    margin-left:15px;
    margin-top:5px;
    padding-top:15px;
    text-align:left;
    font-size:20px;
    font-weight: 600 ;
}

#more:hover
{
    font-size:20px;
    font-weight: 600 ;
    color:#0065FC;
    /*color:#DEEBFF;*/
    font-weight: bold;
}

/* ASIDE --------------------------------------------------*/

#most_popular
{
    /*background-color: beige;*/
    background-color: #F2F2F2;
    /*border: 2px solid grey;*/
    width:420px;
    border-radius: 25px;
    margin-right:0px;
    margin-left:50px;
    padding-top:34px;
    padding-bottom:50px;
    display:flex;
    flex-direction: column;
    height:624px;    
}

#most_popular_header
{
    /*background-color: chartreuse;
    border:solid black;*/
    display:flex;
    justify-content:flex-start;
    align-items:baseline;
    width:345px;
    margin-left:30px;
    margin-top:5px;  
}

#most_popular_header h2
{
    font-size:22px;
    font-weight: 600 ;
    /*background-color:yellow;*/
    flex:1;
}

#most_popular_header i
{
    font-size:22px;
    padding-right:0px;
    /*background-color:pink;*/
}

#aside_ContainerFlex
{
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items:flex-start;
    align-content:flex-start;
    /*border: 1px solid purple;*/
    height:455px;
    width:345px;
    padding-top:0px;
    padding-bottom: 0px;
    margin-left:auto;
    margin-right:auto;
}

.aside_div_flex
{
    background-color: white;
    border-radius: 25px;
    width:100%;
    padding-bottom:0px;
    padding-top:0px;
    margin-left: auto;
    margin-right: auto;
    /*height:100%;*/   
    border:5px solid;
    border-color: white; 
    display: flex;
    flex-direction: row;
    margin-top:15px;
    margin-bottom: 25px;
    height:145px;
    justify-content: flex-start;
    /*border:solid red;*/    
}  

.div_img
{
    width:125px;
    /*border:solid pink;*/
}

.div_txt
{
    width:209px;
    /*background-color: darkseagreen;*/
    /*border: solid blue;*/
    /*font-size:10px;*/
}

.aside_div_flex:hover
{
    /*color:white;*/
    color:  #0065FC;
    border:solid #0065FC; 
    /*background-color:#0065FC;*/
    /*background-color:#DEEBFF;*/
}

.aside_div_flex p
{
    padding-left:15px;
    /*margin-left:5px;*/
    /*background-color:cyan;*/
    font-size:14px;    
}

#aside_div_h2
{
    /*background-color: rgb(122, 113, 204);
    border: solid rgb(194, 178, 38);*/    
    width:300px;
    margin-left:30px;
    margin-top:5px;
}

#aside_div_h2 h2
{
    font-size:22px;
    font-weight: 600 ;
}

.aside_class_img
{
    width:100%;
    height:100%;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    cursor: pointer;
    /*background:pink;*/
}

.aside_txt
{
    width:65%;
    height:100%;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    /*padding-left:2px;*/
    padding-top:10px;
    cursor: pointer;
    /*background-color:lightgreen;*/
}

.aside_txt p
{
    padding-bottom: 8px;
}

.aside_txt p i
{
    padding-top: 25px;
}


/* ARTICLE activités ------------------------------*/

#article_activities
{
    /*background-color: lightgray;
    border:solid darkgray; */  
    border-radius: 25px;    
    padding:25px 0px 50px 0px; 
    margin-bottom: 50px;
    margin-top:30px;
    height:530px;
}

#article_activities h2
{
    font-size:22px;
    font-weight: 600 ; 
    /*border:solid red;*/
    margin-bottom: 15px;
}

#section_activities
{
    /*background-color: orangered;
    border:solid black;*/   
    border-radius: 25px;
    margin:5px 0px 0px 0px;
    height:100%;
    display:flex;
    justify-content: space-between;
    font-weight:bold;
}

.div_activities
{
    background-color: white;
    border-radius: 25px;
    height:100%;
    /*padding-bottom:25px;
    padding-top:25px;*/
    margin-top:0px;
    /*margin-bottom:auto;*/
    /*margin-left:auto;
    margin-right:auto;*/
    box-shadow: 6px 6px 4px  #F2F2F2;
     /* test rdx 20210820width:22.75%;  */
    /* test rdx 20210820*/
    max-width:305px;
    min-width:245px;
}  

.div_activities:hover
{
    color:  #0065FC;
    border:solid;
    border-color: #0065FC; 
    /*border-color:#DEEBFF;*/
    background-color:white;
    /*background-color:#DEEBFF;*/
}

.flex_box_col
{
    /*background-color: rgb(68, 189, 52);*/
    display: flex;
    flex-direction: column;
    /*flex-wrap: nowrap;*/
    align-items:center;
    /*justify-content: space-between;*/   
    /* test rdx 20210820width:22.75%;  */
    /* test rdx 20210820*/
    max-width:305px;
    min-width:245px;
}

.div_activities_column
{
    background-color: white;
    /*border:solid;*/
    /*border-color: white;*/
    border-radius: 25px;
    width:100%;
    height:50%;
    margin-top:0px;
    box-shadow: 6px 6px 4px  #F2F2F2;
}  

.div_activities_column:hover
{
    color:  #0065FC;
    border:solid;
    border-color: #0065FC; 
    background-color:white;
    /*border-color: #DEEBFF; 
    background-color:#DEEBFF;*/
}

.big_pic
{
    height:88.2%;
}

.small_txt
{
    padding-top:24px;
    padding-left:20px;
    height:10%;
}

#div_pomeg
{
    height:53%;
}

.pic_pomeg
{
    height:76.5%;
}

#div_frioul
{
    margin-top:44px;
    height:37%;
}

.pic_frioul
{
    height:66%;
}

#div_nd_garde
{
    height:44%;
}

.nd_garde
{
    height:71.75%;
}

#div_p_longchamp
{
    margin-top:40px;
    height:47%;
    /*border:solid red;*/
}

.p_longchamp
{
    height:74.25%;
}

.pic_fit
{
    object-fit: cover;   
}


/* FOOTER ------------------------------------------------------*/

footer
{
    display:flex;
    /*background-color: #00cafc;*/
    background-color: #F2F2F2;
    /*border:solid black;*/    
    max-height:259px;min-height:218px;
    margin: 55px auto 0px auto;
    max-width: 1440px;
    justify-content: flex-start;  
    flex-wrap:nowrap;
    overflow-x: hidden;overflow-y: hidden;
    text-decoration:none;
}

.footer_div
{
    /*background-color:yellow;
    border: solid lightgreen;*/
    margin:40px auto  auto 50px;
    height:80%;
    width:100%;
}

.footer_div ul
{
    display:flex;
    flex-direction: column;    
    padding-top:0px;
    /*border: solid blue;*/
    flex-wrap: nowrap;
    align-content: flex-start;
    height: 50%; 
    list-style: none; /* Remove list bullets */
}

.footer_div ul li 
{
    /*border:solid red;*/
    width:100%;
    text-align: start;
    font-size:15px;
    padding-top:0px;  
    padding-bottom:20px; 
    height:30px;
}

footer .footer_div h3
{
    font-size:20px;
    font-weight: 600 ;  
    margin-bottom:25px; 
}

.footer_div p:hover
{
    color:#0065FC;
    font-weight:bold;
    cursor:pointer;
    font-size:18px;
    font-weight: 600 ;  
}

.footer_div nav ul li:hover
{
    border-top: hidden;
}

.footer_div nav ul li a:hover
{
    color:#0065FC;
    font-weight:bold;
    /*cursor:pointer;*/
    font-size:18px;
    font-weight: 600 ;  
    border-top: hidden;
}